.drawerLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 200;
  text-align: left;
  padding-top: 2.2vh;
  margin-bottom: 3vh;
  padding-left: 10%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: -webkit-linear-gradient(top, #3a35382a, #0d0d0d);
}

.drawerLink:hover {
  font-weight: 300;
}

/* .drawerLink span {
    color: #b97994;
  margin-right: 2vw;
  align-self: flex-end;
  width: fit-content;
  font-size: 15px;
  text-transform: none;
} */

.activeDrawerContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 43vh;
  overflow: scroll;
  scroll-behavior: smooth;
}

.activeDrawerContent > * {
  width: 100%;
}

.drawer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 1%;
  height: fit-content;
}
