.chatMain {
  height: 100vh;
  background-color: #161516;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

.boardBack {
  color: rgb(255, 232, 248);
  height: 90%;
  width: 65%;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 20% 60% 20%;
}

.chatBoard {
  grid-row: 1 / span 3;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 20% 60% 20%;
  border-radius: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 2px solid rgba(179, 168, 174, 0.589);
  background-color: rgb(15, 14, 15);
  height: 100%;
  width: 100%;
}

.channelTitle {
  height: 99%;
  width: 100%;
  margin-top: 2px;
  margin-left: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 5;
  background: -webkit-linear-gradient(#0f0e0f 20%, rgba(136, 63, 136, 0));
  grid-column: 1;
  grid-row: 1 / span 1;
}

.title {
  margin: 0;
  margin-top: 2%;
  font-weight: 200;
  padding-left: 5%;
  text-align: start;
  font-size: 25px;
  font-family: 'font3';
}

.channelMessages {
  width: 100%;
  grid-template-columns: 1;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.messageList {
  padding-bottom: 10px;
  grid-template-columns: 1 / span 2;
  width: 200%;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.messageList2 {
  display: flex;
  flex-direction: column;
}

.userIconAvatar {
  border: 1px solid #0d0d0d;
  border-radius: 50%;
}

.msg {
  display: flex;
  flex-direction: row;
  padding-left: 2vw;
}

.msg img {
  border-radius: 50%;
  border: 1px solid rgb(219, 183, 203);
  margin-top: 2vh;
  height: 4vh;
  width: 4vh;
}

.messageTextBoard {
  display: flex;
  flex-direction: column;
  color: black;
  line-height: 22px;
  font-size: 14px;
  margin-left: 0.6vw;
  margin-right: 10vw;
  margin-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  align-self: flex-start;
  height: fit-content;
  width: fit-content;
  text-align: start;
  background-color: rgb(238, 230, 235);
  box-shadow: 2px 1px 5px rgba(146, 49, 103, 0.76);
}

.myMsg {
  flex-direction: row-reverse;
  padding-left: 0;
  padding-right: 2vw;
}

.myMsg > .messageTextBoard {
  color: rgb(245, 209, 229);
  margin-right: 0.6vw;
  margin-left: 10vw;
  align-self: flex-end;
  background-color: rgb(83, 3, 36);
  box-shadow: -2px 1px 5px rgba(226, 142, 188, 0.336);
}

.myMsg .usernameInMsg,
.myMsg .msgSent {
  font-weight: 300;
  color: rgb(197, 145, 174);
  font-size: 12px;
}

.usernameInMsg,
.msgSent {
  font-weight: 300;
  color: rgb(56, 10, 35);
  font-size: 12px;
}

.sendMsg {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: -webkit-linear-gradient(rgba(14, 13, 14, 0.651), rgb(49, 47, 49));
  grid-column: 1;
  grid-row: 3;
  height: 100%;
  padding-left: 5%;
}

.msgForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: rgb(230, 211, 222);
  resize: none;
}

.writeMsgInput {
  padding: 10px;
  background-color: rgb(14, 11, 12);
  border: 1px solid #61575c;
  border-radius: 5px;
  height: 50%;
  width: 75%;
}

.writeMsgInput:focus {
  outline: none;
}

.sendMsgButton {
  border: none;
  background: url('/send.png') no-repeat;
  background-position: center;
  background-size: 40px;
  cursor: pointer;
  padding: 1px;
  padding-right: 5%;
  padding-left: 5px;
  width: 60px;
  height: 60px;
}

.sendMsgButton:hover {
  background-size: 42px;
}

/* CHAT SIDEBAR */

.inChat {
  color: rgb(247, 225, 240);
  border: 2px solid rgba(179, 168, 174, 0.589);
  border-radius: 10px;
  background: #0f0e0f;
  height: 80%;
  width: 20%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  scroll-behavior: smooth;
}

.onlineTitle {
  font-size: 21px;
  font-family: 'font3';
  font-weight: 200;
  margin-top: 4vh;
}

.onlineUsersList {
  max-height: 100%;
  padding-top: 20px;
  line-height: 30px;
}
