.chatMain {
  height: 100vh;
  background-color: #262626;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.chatBoard {
  color: rgb(247, 225, 240);
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 10% 70% 20%;
  border-radius: 10px;
  border: 2px solid rgba(179, 168, 174, 0.589);
  background-color: rgb(14, 13, 13);
  height: 80%;
  width: 65%;
}

.channelTitle {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: -webkit-linear-gradient(rgb(36, 35, 36), rgba(14, 13, 14, 0.603));
  grid-template-columns: 1;
  grid-row: 1;
}

.title {
  padding-left: 20px;
  text-align: start;
  font-size: 1.5em;
}

.channelMessages {
  width: 100%;
  grid-template-columns: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.messageList {
  padding-bottom: 10px;
  grid-template-columns: 1 / span 2;
  width: 200%;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.messageList2 {
  display: flex;
  flex-direction: column;
}

.userIconAvatar {
  border: 1px solid #0d0d0d;
  border-radius: 50%;
}

.msg {
  color: black;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 150px;
  margin-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  align-self: flex-start;
  height: fit-content;
  width: fit-content;
  text-align: start;
  background-color: rgb(207, 188, 199);
  box-shadow: 2px 1px 5px rgba(255, 190, 226, 0.562);
  line-height: 22px;
  font-weight: 200;
}

.myMsg {
  color: rgb(245, 209, 229);
  margin-right: 20px;
  margin-left: 150px;
  padding-left: 10px;
  padding-right: 10px;
  align-self: flex-end;
  background-color: rgb(87, 5, 50);
  box-shadow: -2px 1px 5px rgba(255, 190, 226, 0.301);
}

.myMsg .usernameInMsg,
.myMsg .msgSent {
  font-weight: 300;
  color: rgb(197, 145, 174);
  font-size: 12px;
}

.usernameInMsg,
.msgSent {
  font-weight: 300;
  color: rgb(56, 10, 35);
  font-size: 12px;
}

.sendMsg {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: -webkit-linear-gradient(rgba(14, 13, 14, 0.651), rgb(49, 47, 49));
  grid-column: 1;
  grid-row: 3;
  height: 100%;
  padding-left: 5%;
}

.msgForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

textarea {
  color: rgb(230, 211, 222);
  resize: none;
}

.writeMsgInput {
  padding: 10px;
  background-color: rgb(14, 11, 12);
  border: 1px solid #61575c;
  border-radius: 5px;
  height: 50%;
  width: 78%;
}

.writeMsgInput:focus {
  outline: none;
}

.sendMsgButton {
  border: none;
  background: url("/send.png") no-repeat;
  background-position: center;
  background-size: 30px;
  cursor: pointer;
  padding: 1px;
  padding-right: 5%;
  padding-left: 5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.sendMsgButton:hover {
  background-size: 32px;
}

/* CHAT SIDEBAR */

.inChat {
  color: rgb(247, 225, 240);
  border: 3px solid #0c0c0c;
  border-radius: 10px;
  background-color: #0f0d0f;
  height: 80%;
  width: 20%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  scroll-behavior: smooth;
}

.onlineUsersList {
  max-height: 100%;
  padding-top: 20px;
  line-height: 30px;
}
