.tab {
  z-index: 5;
  cursor: pointer;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
  text-decoration: none;
}

.tabs {
  margin-left: 10px;
  margin-right: 10px;
  /* TODO: check tab height */
  height: 50vh;
  width: auto;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 10% 90%;
}

.tabsNav {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: row;
}

.tab:hover {
  font-weight: 300;
}

.activeTabContent {
  height: fit-content;
  max-height: 50vh;
  padding-top: 10px;
  padding-bottom: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #141314;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  border: 1px solid rgb(63, 60, 61);
}

.tabContent {
  width: 100%;
}

.tabLink {
  width: 100%;
  color: rgb(209, 190, 202);
}

h5 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 200;
}
h6 {
  margin: 0;
  font-size: 15px;
  font-weight: 200;
}
input:focus {
  outline: none;
}

input {
  font-size: 12px;
  width: 100%;
}

.navButton {
  width: fit-content;
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
  cursor: pointer;
  color: rgb(209, 190, 202);
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: rgb(24, 24, 24);
  border-radius: 5px;
  border: 1px solid rgb(209, 190, 202);
}

.navButton:focus {
  outline: none;
}

.navButton:hover {
  font-weight: 300;
  background-color: #0d0d0d;
}

.navButton:active {
  box-shadow: 1px 0px 5px rgba(209, 190, 202, 0.548),
    -1px 0px 5px rgba(209, 190, 202, 0.548);
}

.guestBlock {
  padding-top: 15px;
  line-height: 12px;
}

.guestText {
  margin: 0;
  font-size: 9px;
  color: rgb(180, 171, 177);
}

.guestText > span {
  margin: 0;
  font-size: 10px;
  color: rgb(252, 238, 248);
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  max-height: 50vh;
  overflow: scroll;
  scroll-behavior: smooth;
}

.register label {
  width: 99%;
}

.registerGuestLink {
  cursor: pointer;
  color: rgb(218, 208, 214);
  font-size: 11px;
}

.registerGuestLink:hover {
  color: rgb(233, 215, 226);
  text-decoration: underline;
}

.logoutButton {
  font-size: 15px;
  font-weight: 200;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  align-self: center;
}

.loggedInAs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userTitle {
  font-size: 20px;
  font-weight: 200;
}

.userProfileTabContent {
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 3vh;
}

.profilePic img {
  border: 2px solid #d6cdd4d8;
  border-radius: 50%;
  width: 150px;
  height: 120;
}

.edit {
  padding-top: 1vh;
  padding-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 32vh;
  overflow: scroll;
  scroll-behavior: smooth;
}

.editForm {
  width: 70%;
}

.deleteAccount {
  position: relative;
  margin-top: 2vh;
  width: 80%;
  border-top: 1px solid white;
}
