.navMain {
  background-color: #0d0d0d;
  color: white;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 10% 40% 50%;
}

.appTitle {
  grid-row: 1;
}

.channels {
  grid-row: 2;
}

.tabs {
  margin-left: 10px;
  margin-right: 10px;
  grid-row: 3;
  height: 100%;
  width: auto;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 10% 90%;
}

.tabsNav {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: row;
}

.tab {
  cursor: pointer;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeTabContent {
  height: fit-content;
  max-height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #262626;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 25px;
}

.successNotification {
  color: rgba(241, 253, 255, 0.966);
  position: fixed;
  width: 15%;
  top: 56%;
  left: 2%;
  padding: 5px;
  background-color: rgba(110, 181, 190, 0.966);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(206, 223, 231, 0.199),
    -1px -1px 5px rgba(206, 223, 231, 0.199);
}

.errorNotification {
  color: rgb(230, 217, 218);
  position: fixed;
  width: 15%;
  top: 56%;
  left: 2%;
  padding: 5px;
  background-color: rgba(128, 10, 16, 0.973);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(197, 102, 102, 0.199),
    -1px -1px 5px rgba(197, 102, 102, 0.199);
}

.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.tabLink {
  color: rgb(209, 190, 202);
}

h5 {
  margin: 0;
  margin-bottom: 5px;
}
h6 {
  margin: 0;
}
input:focus {
  outline: none;
}

input {
  font-size: 12px;
}

.navButton {
  text-transform: uppercase;
  cursor: pointer;
  color: rgb(209, 190, 202);
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: rgb(24, 24, 24);
  border-radius: 5px;
  border: 1px solid rgb(209, 190, 202);
  /* align-self: center; */
}

.navButton:focus {
  outline: none;
}

.navButton:hover {
  background-color: #0d0d0d;
}

.navButton:active {
  box-shadow: 1px 0px 5px rgba(209, 190, 202, 0.548),
    -1px 0px 5px rgba(209, 190, 202, 0.548);
}

.guestBlock {
  padding-top: 15px;
  line-height: 12px;
}

.guestText {
  margin: 0;
  font-size: 9px;
  color: rgb(180, 171, 177);
}

.guestText > span {
  margin: 0;
  font-size: 10px;
  color: rgb(252, 238, 248);
}

.registerGuestLiank {
  cursor: pointer;
  color: rgb(218, 208, 214);
  font-size: 10px;
}

.registerGuestLink:hover {
  color: rgb(233, 215, 226);
  text-decoration: underline;
}

.logoutBtn {
  padding-left: 10px;
  padding-right: 10px;
}

.loggedInAs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilePic img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.edit {
  height: 28vh;
  overflow: scroll;
}
