.navMain {
  background-color: #0d0d0d;
  color: rgb(255, 232, 248);;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

input{
    border-radius: 2px;
    border: none;
    min-height: 3vh;
}

.appTitle {
    font-family: 'font2';
  margin-top: 10%;
  margin-bottom: 10vh;
  grid-row: 1;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 300;
}

.drawers {
  grid-row: 2;
}

.successNotification {
  color: rgba(241, 253, 255, 0.966);
  position: absolute;
  width: 85%;
  left: 5%;
  padding: 5px;
  background-color: rgba(110, 181, 190, 0.966);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(206, 223, 231, 0.199),
    -1px -1px 5px rgba(206, 223, 231, 0.199);
}

.errorNotification {
  color: rgb(230, 217, 218);
  position: absolute;
  width: 85%;
  left: 5%;
  padding: 5px;
  background-color: rgba(163, 12, 19, 0.863);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(197, 102, 102, 0.199),
    -1px -1px 5px rgba(197, 102, 102, 0.199);
}



@font-face {
  font-family: "font2";
  src: url("/fonts/zai_RoyalVogueTypewriter1929.ttf") format("truetype");
}
