.nav-main {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 10% 50% 40%;
  background-color: white;
}

.appTitle {
  grid-row: 1;
}

.channels {
  grid-row: 2;
}

.nav {
  background-color: cadetblue;
}

/* .Tabs {
  grid-row: 2;
} */

.tab {
  background-color: coral;
  height: 100%;
  border: 1px solid black;
}

